<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garment</title>
</head>
<body>
    <h1>Garment</h1>
    <a href="/garments/create">Add Garment</a>
    <ul>
        <% for( let garment of garments) { %>
        <li>
            <a href="/garments/<%= garment._id %>">
                <%= garment.name  %> - <%= garment.location %>
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>